<div class="container-fluid">
    <div class="container-header">
        <div class="row align-items-start">
            <div class="col">
                <div class="app-name">
                    WebRtc The Learning App
                </div>
            </div>
            <div class="col">
                <div class="profile dropdownTop">
                   <div class="profile-name">
                    {{userName}}
                   </div>
                   <div class="dropdown"><span #expandButton [ngClass]="onTabClick === true ? 'arrow-up' : 'arrow-down'" (click)="onClick()"></span></div>
                   <ul [ngClass]="{'active1': onTabClick === true}">
                    <li ><a style="cursor: default !important;"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                    <li><a (click)="logOut()"><i class="fa fa-sign-out-alt" aria-hidden="true"></i>Logout</a>
                    </li>
                </ul>
                    <div class="profile-text"> {{userNameText}}</div>

                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-start content-container">
        <div class="c0l-sm-12 col-md-2 col-lg-2">
            <div class="list-of-user">
                <div class="online-card">
                    Online Users
                </div>
                <div class="users-list">
                    <div *ngFor="let user of users" class="user-container">
                        <div class="profile-text"> {{user.profileText}}</div>
                        <div class="user-card">
                            {{user.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c0l-sm-12 col-md-5 col-lg-5">
            <div class="list-of-user">
                <div class="online-card">
                    Public Chat
                </div>
                <div class="users-list chat-room">
                    <div class="message-container">

                    </div>
                    <div class="message-input">
                        <div class="emoj">
                            <div>
                                <img class="svg-smile" src="assets/smile.png">
                            </div>
                            <div>
                                <img class="svg-attach"  src="assets/icons8-attach-100.png">

                            </div>
                        </div>
                        <input class="form-control" (focus)="sentEnable('public')" (focusout)="sentDisable('public')" placeholder=" Type a message" type="text">
                        <div class="message-send">
                            <div *ngIf="IsMicEnablePublic">
                                <img class="svg-mic"  src="assets/icons8-microphone-256.png">
                            </div>
                            <div *ngIf="!IsMicEnablePublic">
                                <img class="svg-sent"  src="assets/icons8-sent-96.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="list-of-user">
                <div class="online-card">
                    Private Chat
                </div>
                <div class="users-list chat-room">
                    <div class="message-container">

                    </div>
                    <div class="message-input">
                        <div class="emoj">
                            <div>
                                <img class="svg-smile" src="assets/smile.png">
                            </div>
                            <div>
                                <img class="svg-attach"  src="assets/icons8-attach-100.png">

                            </div>
                        </div>
                        <input class="form-control" (focus)="sentEnable(' ')" (focusout)="sentDisable(' ')" placeholder=" Type a message" type="text">
                        <div class="message-send">
                            <div *ngIf="IsMicEnable">
                                <img class="svg-mic"  src="assets/icons8-microphone-256.png">
                            </div>
                            <div *ngIf="!IsMicEnable">
                                <img class="svg-sent"  src="assets/icons8-sent-96.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>